.subtitle {
    padding-top: 94px;

}
.subtitle-list {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

    color: var(--pimary-text-color);
}

.subtitle-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}


.works-description {
    position: absolute;
    display: block;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--white-color);
    width: 100%;
    justify-content: center;

    text-align: center;
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;

}
.stuff {
    padding-top: 94px;
}


.teammate {
    width: calc((100% - 90px) / 4);
    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.2), 0px 1px rgba(0, 0, 0, 0.14), 0px 1px rgba(0, 0, 0, 0.12);
}
.team-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
}
.icons-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--text-color);
}
.contacts {
    background-color: #2F303A;

    display: flex;

}
.contact {
    margin-top: 20px;
}
