.section-team {
    background-color: #F5F4FA;
    margin: 0;
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-clients {
    margin: 0;
    padding-top: 94px;
    padding-bottom: 94px;
}
.work {
    padding: 94px 0;}
.portfolio {
            display: flex;
            justify-content: center;
            gap: 8px;
    
            margin-bottom: 50px;
            align-items: center;
        }